body {
    background: black;
}

h1, h2, h3, p {
    color: white;
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
}

#scanlines {
    z-index: 2;
    width: 100vw;
    height: 100vwh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}

/*****************************
nav bar
*****************************/

.nav{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/*****************************
first polygon
*****************************/

.nav-button1 {
  width: 15rem;
  height: 5rem;

  --cut: 6rem;
  --border: 3px;

  position: relative;
}

.nav-button1::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #6f7476;

  clip-path: polygon(
    var(--cut) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );
}

.nav-button__inner1{
  position: absolute;
  inset: var(--border);
  background: #2f3333;

  clip-path: polygon(
    calc(var(--cut) - var(--border)) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );

  display: grid;
  place-items: center;
}

/*****************************
regular
*****************************/
.nav-button {
  width: 15rem;
  height: 5rem;

  --cut: 6rem;
  --border: 3px;

  position: relative;
}

.nav-button::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #6f7476;
}

.nav-button__regular{
  position: absolute;
  inset: var(--border);
  background: #2f3333;

  clip-path: polygon(
    calc(var(--cut) - var(--border)) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );

  display: grid;
  place-items: center;
}

/*****************************
last polygon
*****************************/

.nav-button2{
  width: 15rem;
  height: 5rem;

  --cut: 3.5rem;
  --border: 3px;

  position: relative;
}

.nav-button2::before{
  content:"";
  position:absolute;
  inset:0;
  background:#6f7476;

  clip-path: polygon(
    0% 0%,
    calc(100% - var(--cut)) 0%,
    100% 35%,
    100% 100%,
    0% 100%
  );
}

.nav-button__inner2{
  position:absolute;
  inset: var(--border);
  background:#2f3333;

  clip-path: polygon(
    0% 0%,
    calc(100% - (var(--cut) - var(--border))) 0%,
    100% 35%,
    100% 100%,
    0% 100%
  );

  display:grid;
  place-items:center;
}


.nav h3{
  margin: 0;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.02em;
  color: #9ea3a3;
}
