body {
    background: #000000;
}

h1, h2, h3, p {
    color: white;
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
}

#scanlines {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.video-bg{
  position: fixed;
  inset: 0;
  z-index: 2;
  overflow: hidden;
}

.video-bg iframe{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transform: scale(1.2);
}



















/*****************************
nav bar
*****************************/
:root {
  --poly-width: 10rem;
  --poly-height: 3rem;
  --poly-color: #323636;
  --poly-border-color: #676D6D;
  --poly-font-color: rgba(232, 239, 239, 0.6);
}

.nav {
  z-index: 0;
  display: flex;
  align-items: center;
  gap: .4rem;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50.5%);
  width: 94%;
  height: 1.5px;
  background: var(--poly-border-color);
}

.nav-button1 {
  width: var(--poly-width);
  height: var(--poly-height);
  --cut: 6rem;
  --border: 1px;
  position: relative;
}

.nav-button1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--poly-border-color);
  clip-path: polygon(
    var(--cut) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );
}

.nav-button__inner1 {
  position: absolute;
  inset: var(--border);
  background: var(--poly-color);
  clip-path: polygon(
    calc(var(--cut) - var(--border)) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );
  display: grid;
  place-items: center;
}

.nav-button {
  width: var(--poly-width);
  height: var(--poly-height);
  --border: 1px;
  position: relative;
}

.nav-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--poly-border-color);
}

.nav-button__regular {
  position: absolute;
  inset: var(--border);
  background: var(--poly-color);
  display: grid;
  place-items: center;
}

.nav-button2 {
  width: var(--poly-width);
  height: var(--poly-height);
  --cut: 3.5rem;
  --border: 1px;
  position: relative;
}

.nav-button2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--poly-border-color);
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--cut)) 0%,
    100% 35%,
    100% 100%,
    0% 100%
  );
}

.nav-button__inner2 {
  position: absolute;
  inset: var(--border);
  background: var(--poly-color);
  clip-path: polygon(
    0% 0%,
    calc(100% - (var(--cut) - var(--border))) 0%,
    100% 35%,
    100% 100%,
    0% 100%
  );
  display: grid;
  place-items: center;
}

.nav-button:hover,
.nav-button1:hover,
.nav-button2:hover {
  cursor: pointer;
  --poly-color: #1d1f1f;
  --poly-border-color: #4a4f4f;
  --poly-font-color: rgba(234, 244, 244, 0.6);
}

.nav h3 {
  margin: 0;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  color: var(--poly-font-color);
}

.dashboard {
    /*
    border: solid white 2px;
    */
    width: 40%;
    top: 25%;
    left: 10%;
    position: fixed;
}

.input-textbox {
  background: var(--poly-color);
  border: 1px solid var(--poly-border-color);

  min-height: .5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

