body {
    background: black;
}

h1, h2, h3, p {
    color: white;
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
}

#scanlines {
    z-index: 2;
    width: 100vw;
    height: 100vwh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}

/*****************************
nav bar
*****************************/

.nav{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav-arrow{
  background: transparent;
  border: none;
  color: #cfcfcf;
  font-size: 2.2rem;
  cursor: pointer;
  line-height: 1;
}

.nav-button{
  width: 62rem;
  height: 12rem;

  --cut: 6rem;
  --border: 3px;

  position: relative;
}

.nav-button::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #6f7476;

  clip-path: polygon(
    var(--cut) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );
}

.nav-button__inner{
  position: absolute;
  inset: var(--border);
  background: #2f3333;

  clip-path: polygon(
    calc(var(--cut) - var(--border)) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );

  display: grid;
  place-items: center;
}

.nav-button h3{
  margin: 0;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 300;
  font-size: 5.5rem;
  letter-spacing: 0.02em;
  color: #9ea3a3;
}
