body {
    background: #000000;
}

h1, h2, h3, p {
    color: white;
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
}

#scanlines {
    z-index: 2;
    width: 100vw;
    height: 100vwh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}

/*****************************
nav bar
*****************************/
:root {
  --poly-width: 10rem;
  --poly-height: 3.75rem;
  /*
  --poly-color: 3.75rem;
  --poly-font-color: 3.75rem;
  */
}

.nav {
    z-index: 0;
  display: flex;
  align-items: center;
  gap: .5rem;

  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* fake bottom border */
.nav::after {
  content: "";
  position: absolute;
  bottom: -7.5%;
  left: 50%;
  transform: translateX(-50.5%);

  width: 94%;
  height: 3px;
  background: #323636;
}

/*****************************
first polygon
*****************************/

.nav-button1 {
  width: var(--poly-width);
  height: var(--poly-height);

  --cut: 6rem;
  --border: 1px;

  position: relative;
}

.nav-button1::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #676D6D;

  clip-path: polygon(
    var(--cut) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );
}

.nav-button__inner1{
  position: absolute;
  inset: var(--border);
  background: #323636;

  clip-path: polygon(
    calc(var(--cut) - var(--border)) 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 45%
  );

  display: grid;
  place-items: center;
}

/*****************************
regular
*****************************/
.nav-button {
    width: var(--poly-width);
    height: var(--poly-height);

  --cut: 6rem;
  --border: 3px;

  position: relative;
  border: solid #676D6D 1px;
}

.nav-button::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #323636;
}

.nav-button__regular{
  position: absolute;
  inset: var(--border);
  background: #323636;

  display: grid;
  place-items: center;
}

/*****************************
last polygon
*****************************/

.nav-button2{
  width: var(--poly-width);
  height: var(--poly-height);

  --cut: 3.5rem;
  --border: 1px;

  position: relative;
}

.nav-button2::before{
  content:"";
  position:absolute;
  inset:0;
  background:#676D6D;

  clip-path: polygon(
    0% 0%,
    calc(100% - var(--cut)) 0%,
    100% 35%,
    100% 100%,
    0% 100%
  );
}

.nav-button__inner2{
  position:absolute;
  inset: var(--border);
  background:#323636;

  clip-path: polygon(
    0% 0%,
    calc(100% - (var(--cut) - var(--border))) 0%,
    100% 35%,
    100% 100%,
    0% 100%
  );

  display:grid;
  place-items:center;
}

/*****************************
all nav
*****************************/

.nav-button, 

.nav h3{
    margin: 0;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  color: rgba(232, 239, 239, 0.6);
}
